<section id="download" class="content-section text-center">
   <div class="container">
        
        <!-- 비밀번호 입력 섹션 -->
        <div id="password-section">
            <h1>Password-Protected Download</h1> 
            <p>If you have any questions about me, please feel free to contact me at the email below, <br> and the password will be provided automatically</p>
            <input type="password" id="password-input" placeholder="Password">
            <button style="color: black;" onclick="checkPassword()">Enter</button>
        </div>

        <style>
            #password-input {
                color: black; /* 글자 색상을 검은색으로 설정 */
            }
        </style>
      
        <div class="download-section" id="download-section" style="display: none;">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Edward's CV</h2>
                    <p>You can download Edward's Curriculum Vitae.</p>
                    <a href="img/241002_CV_JYS_v01f.pdf" class="btn btn-default btn-lg">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</section> 

<!--     <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Edward's CV</h2>
                    <p>You can download Edward's Curriculum Vitae.</p>
                    <a href="img/241002_CV_JYS_v01f.pdf" class="btn btn-default btn-lg">Download CV</a>
                </div>
            </div>
        </div>
    </section> -->
